<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <connectionStrings>
    <add name="AgregadosEntities" connectionString="metadata=res://*/AgregadosEF.csdl|res://*/AgregadosEF.ssdl|res://*/AgregadosEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STEVEN-LAPTOP\SQLEXPRESS;initial catalog=Agregados;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>